*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:url(Font/Indie_Flower/IndieFlower-Regular.ttf) ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c05050;
    color: white;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff4081;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}
